<div id="task_positions">
  <h2>Task positions</h2>
  <input type="hidden" id="task_id" value="<%= @task.id %>" />
  <input type="hidden" id="access_token" value="<%= @access_token %>" />
  <div class="positions">
    <task-position v-for="position in positions" :key="position.id" :task="task" :position="position" />
  </div>
</div>
