<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet">
    <style type="text/css">
      body {font-family: 'Raleway', sans-serif;font-weight: 300;padding: 0;margin: 0;font-size: 18px}
      h1,h2 {font-weight: 500}
      h1 {font-size: 24px}
      h2 {font-size: 20px}
      p {margin: 0 0 5px; line-height: 24px}
      .block {background: #fff;border: 1px solid #cce5ff;border-radius: 0.25rem;padding: 0;width: 600px}
      .block .head {background: #cce5ff}
      .block .head h1 {padding: 16px;margin: 0}
      .block .inner {padding: 32px}
    </style>
  </head>
  <body class="mailer">
    <main>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
