/* This file is for your main application css. */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import "variables";

* {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
}

h3, h4 {
  font-size: 1.25rem;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  font-size: 18px;
  background: $blue-extra-light;

  &.app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &.dashboard {
    display: flex;
    flex-direction: row;
  }

  p {
    margin: 0;
  }
}
