footer {
  flex-shrink: 0;
  padding: 5rem 1.5rem 1.5rem;
  position: relative;

  .images {
    img {
      height: 25px;
    }

    @media(max-width: 767px) {
      margin-top: 1.25rem;
    }

    @media(min-width: 768px) {
      text-align: right;
    }
  }
}
