@import "variables";

#new_task {
  .disable {
    pointer-events: none;
  }

  .current {
    label {
      font-weight: 500;
    }
  }

  select {
    &:hover {
      cursor: pointer;
    }
  }

  input[type="file"] {
    display: none;
  }

  .file_uploader {
    display: block;
    padding: 5px;
    background: $grey-semi-light;
    margin-bottom: 0;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }

  #original_language {
    height: 38px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 5px;

    &.error {
      border: 1px solid $error;
    }
  }

  button {
    margin-left: 15px;
  }
}
