@import "variables";

#new_task {
  .disabled {
    pointer-events: none;
  }

  .current {
    label {
      font-weight: 500;
    }

    select {
      border-color: $grey-dark;
    }
  }

  select {
    &:hover {
      cursor: pointer;
    }
  }

  input[type="file"] {
    display: none;
  }

  .file_uploader {
    display: block;
    padding: 0.375rem;
    background: $grey-semi-light;
    margin-bottom: 0;
    border-radius: 0.25rem;

    &:hover {
      cursor: pointer;
    }

    &.error {
      background: $error;
      color: $white;
    }
  }

  #original_language {
    height: 2.375rem;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem;
  }

  button {
    margin-left: 1rem;

    &.disabled {
      background: $blue-light;
      border-color: $blue-light;
    }
  }
}
