@import "variables";

body {
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .welcome {
      padding: 6.25rem 1rem;

      .intro {
        background: none;
        margin-bottom: 0;

        h1 {
          font-size: 4rem;
          margin-bottom: 1.25rem;
        }

        p {
          margin-bottom: 0.6rem;
        }
      }
    }

    .workarea {
      .with_table {
        .table {
          font-size: 0.9rem;

          thead {
            th {
              font-weight: 400;
              border-top: none;
              border-width: 1px;
            }
          }
        }
      }
    }

    .description {
      padding: 1.25rem;
    }

    .block {
      background: $white;
      border: 1px solid $blue-light;
      border-radius: 0.25rem;
      padding: 0;
      height: 100%;

      .head {
        background: $blue-light;

        h2, h3 {
          padding: 1rem;
          margin: 0;
        }
      }

      .inner {
        padding: 2rem;
      }

      h4 {
        margin: 1.25rem 0;

        &:nth-of-type(1) {
          margin-top: 0;
        }
      }

      @media(max-width: 767px) {
        padding: 2rem;
      }
    }
  }

  .form-control, .btn {
    font-size: 1.1rem;
  }

  .btn {
    &.btn-sm {
      font-size: 0.8rem;
    }
  }

  table.table {
    thead {
      tr {
        th {
          font-weight: 500;
          border-bottom: none;
        }
      }
    }

    tbody {
      tr {
        td {
          font-size: 1rem;
          vertical-align: middle;
        }
      }
    }
  }

  .lt-card {
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 0.25rem;
  }

  .centered_block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.half-size {
      width: 50%;
    }
  }
}
