@import "variables";

body {
  main {
    flex-grow: 1;

    .welcome {
      padding: 6.25rem 1rem;

      .intro {
        background: none;
        margin-bottom: 0;

        h1 {
          font-size: 4rem;
          margin-bottom: 1.25rem;
        }

        p {
          margin-bottom: 0.6rem;
        }
      }
    }

    .workarea {
      .with_table {
        .table {
          font-size: 0.8rem;

          thead {
            th {
              font-weight: 400;
              border-top: none;
              border-width: 1px;
            }
          }
        }
      }
    }

    .description {
      padding: 1.25rem;
    }

    .block {
      background: $white;
      border: 1px solid $blue-light;
      border-radius: 0.25rem;
      padding: 0;
      height: 100%;

      .head {
        background: $blue-light;

        h2, h3 {
          padding: 1rem;
          margin: 0;
        }
      }

      .inner {
        padding: 2rem;
      }

      h4 {
        margin: 1.25rem 0;

        &:nth-of-type(1) {
          margin-top: 0;
        }
      }

      @media(max-width: 767px) {
        padding: 2rem;
      }
    }
  }
}
