@import "variables";

#task_positions {
  .positions {
    .position {
      margin-bottom: 0.6rem;
      padding-bottom: 0.5rem;

      .original {
        font-size: 0.9rem;
        margin-bottom: 0.2rem;

        span {
          font-size: 1.1rem;
          font-weight: 500;
        }
      }
    }
  }
}