@import "variables";

#translations {
  .filters {
    display: flex;
    flex-direction: row;
    padding: 20px 0;

    .form_line {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 15px;

      label {
        margin: 0 15px 0 0;
      }

      select {
        display: inline-block;
        margin: 0;
        width: auto;
      }
    }
  }

  .sentences {
    .sentence {
      margin-bottom: 0.6rem;
      padding-bottom: 0.5rem;

      .original {
        font-size: 0.9rem;
        margin-bottom: 0.2rem;

        span {
          font-size: 1.1rem;
          font-weight: 500;
        }
      }

      .options {
        display: flex;
        flex-direction: row;

        input[type="text"] {
          height: 2rem;
          font-size: 1rem;
          padding: 0.25rem 0.5rem;
        }

        .translations {
          flex: 1;

          .translation {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0.5rem;

            img {
              width: 1.5rem;
              margin-right: 0.5rem;
              border-radius: 0.2rem;
            }

            input {
              flex: 1;
            }
          }
        }

        .new_translation {
          flex: 1;
          padding-left: 1.75rem;
          display: flex;
          flex-direction: column;

          .new_translation_form {
            display: flex;
            flex-direction: row;
          }
        }

        .reverse {
          display: none;
          margin-top: 0.5rem;

          input[type="checkbox"] {
            margin: 0;
          }

          label {
            margin: 0 0 0 0.5rem;
            font-size: 0.9rem;
            line-height: 1rem;
          }

          &.visible {
            display: flex;
            align-items: center;
          }
        }

        .controls {
          margin-left: 0.5rem;
          display: none;

          span {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            margin-right: 0.25rem;

            &.accept {
              background: $blue-semi-dark;
            }

            &.decline {
              background: $error;
            }

            &:hover {
              cursor: pointer;
            }
          }

          &.visible {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
  }
}