#users {
  table {
    margin-top: 25px;

    tr {
      td {
        &:nth-of-type(1) {
          width: 80px;
        }

        &:nth-of-type(5) {
          width: 200px;
          text-align: center;
        }
      }
    }
  }
}

#user_edit {
  form {
    select.form-control {
      width: 100px;
    }
  }
}
