$white: #fff;
$grey-extra-light: #f8f8f8;
$grey-semi-light: #eee;
$grey-light: #d8d8d8;
$dark: #155724;
$grey-dark: #555;
$blue-extra-light: #f8f9fa;
$blue-semi-light: #b8daff;
$blue-light: #cce5ff;
$blue-semi-dark: #c0dfff;
$blue-dark: #004085;
$error: #f33b4c;
