use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :langtool, LangtoolWeb.Endpoint,
  secret_key_base: ""

# Configure your database
config :langtool, Langtool.Repo,
  username: "",
  password: "",
  database: "langtool_prod",
  pool_size: 15

config :yandex_translator,
  cloud_api_key: "",
  cloud_folder_id: ""

config :langtool, Langtool.Mailer,
  domain: "",
  api_key: ""