<div class="alerts">
  <div class="container">
    <%= Enum.map(get_flash(@conn), fn {key, value} -> %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end) %>
  </div>
</div>
