<footer>
  <div class="row">
    <div class="col-md">
      <p>Currently v0.1.0.</p>
      <p>Builded with <a href="https://translate.yandex.ru">Yandex.Translate</a> and <a href="https://phoenixframework.org/">Phoenix Framework</a></p>
    </div>
    <div class="col-md">
      <div class="images">
        <img src="/images/junglecoders.png" />
        <p>by Bogdanov Anton</p>
      </div>
    </div>
  </div>
</footer>
