<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">LangTool</a>
    <form class="form-inline auth">
      <%= if signed_in?(@conn) do %>
        <%= link "Dashboard", to: "" %>
        <%= link "Sign Out", to: session_path(@conn, :delete), method: :delete %>
      <% else %>
        <%= link "Sign In", to: "" %>
        <%= link "Sign Up", to: user_path(@conn, :new) %>
      <% end %>
    </form>
  </div>
</nav>
