<tr id="task_<%= @task.id %>" class="task">
  <td scope="col"><%= @task.id %></td>
  <td scope="col"><%= @task.file.file_name %></td>
  <td scope="col"><%= "#{@task.from}-#{@task.to}" %></td>
  <td scope="col" class="status"><%= @task.status %></td>
  <td scope="col"></td>
</tr>